# This file overwritten on deploy

default: &default
  adapter: postgresql
  encoding: unicode
  # For details on connection pooling, see rails configuration guide
  # http://guides.rubyonrails.org/configuring.html#database-pooling
  pool: 50

development:
  <<: *default
  database: email-alert-api_development

test:
  <<: *default
  database: email-alert-api_test
  url: <%= ENV["TEST_DATABASE_URL"] %>

production:
  <<: *default
  database: email-alert-api_production
