<table>
  <tbody>
    <tr>
      <td style="padding-top: 10px; padding-bottom: 10px; width: 740px;">
        <p style="font-family: arial, helvetica, sans-serif;">
          <a href="[[SUBSCRIBER_PREFERENCES_URL]]" target="_blank" title="Subscriber preferences" style="font-family: Helvetica, Arial, sans-serif; font-size: 15px; margin-bottom: 1em;">
            Manage your GOV.UK email preferences including unsubscribing
          </a>
        </p>
        <p style="font-family: Helvetica, Arial, sans-serif; font-size: 15px;">
          <span style="font-size: 15px;">
            Sign up for alerts about <a href="https://www.gov.uk/government/publications" target="_blank" title="publications">publications</a> and <a href="https://www.gov.uk/government/announcements" target="_blank" title="announcements">announcements</a>
            <br>
          </span>
          <span style="font-size: 15px;">
            Sign up for alerts about <a href="https://www.gov.uk/foreign-travel-advice" target="_blank" title="foreign travel">foreign travel</a>
            <br>
            Provided by </span><a href="https://www.gov.uk" target="_blank" title="GOV.UK" style="font-size: 15px;">GOV.UK</a><span style="font-size: 15px;">. </span><a href="https://www.gov.uk/feedback/contact" style="font-size: 15px;">Contact us</a><span style="font-size: 15px;"> to ask questions or report problems.
          </span>
        </p>
      </td>
    </tr>
  </tbody>
</table>
